<% include partials/header %>
<head>
        <link rel="stylesheet" type="text/css" href="/register.css">
</head>

<main>
<h1>Welcome <%= currentUser.firstName %>, you're logged in to MotoMatch!</h1>
</form>
<%if (currentUser.profilePicture) { %>
    <div class="profilepic">
    <img src="<%= currentUser.profilePicture %>" name="profilePicture">
    </div>
    <% } %>
<a class="update-btn" href="/update">Update your profile</a>
<form method="get" action="/signout">
    <button>Logout</button>
</form>
<form action="/users/delete" method="get">
    <button class="deleteProfile" type="submit">Delete account</button>
</form>
</main>
<% include partials/footer %>
