<% include partials/header %>
<h1>Welcome!</h1>
<a href="/login">Login</a>
<a href="/register">Register</a>

<a href="/home">Home</a>

<form method="post" action="/login">
<label>First Name
    <input type="text" name="firstName">
</label>
<label>password
        <input type="password" name="password">
    </label>
    <button>Login</button>
</form>
<form method="get" action="/signout">
    <button>Logout</button>
</form>
<% include partials/footer %>