<% include partials/header %>
<h1>Register</h1>
<form method="POST" action="/users/add">
<label>First name<input type="text" name=firstName></label>
<label>Last name<input type="text" name=lastName></label>
<label>Password<input type="text" name=password></label>
<input type="submit" value="Submit">
</form>
<% include partials/footer %>